<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".WaiterRobotApp"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon_round"
        android:label="@string/l.app.name"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaiterRobot.Splash">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WaiterRobot.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:host="${host}" />
                <data android:pathPrefix="/mobile-link" /> <!-- legacy link support -->
                <data android:pathPrefix="/ml" /> <!-- new link format -->
            </intent-filter>
        </activity>
    </application>
</manifest> 